$dark: (
  bg: #0d1117,
  text: #d3d3d3,
  text-secondary: #a5a5a5,
  text-href: #2c80e0,
  card-bg: #161b22,
  card-border: #3d3d3d,
  card-note-border: #3d3d3d,
  card-note-text: grey,
  input-border: #5a5a5a,
  input-outline: #acbed8,
  input-bg: #0d1117,
  input-focus-outline: #6290ff,
  input-focus-bg: rgba(43, 48, 150, 0.068),
  btn-bg: #3a3a3a,
  btn-border: #6e6e6e,
  btn-text: #333,
  btn-primary-bg: #205ea5,
  btn-primary-border: #2e6da4,
  btn-primary-text: #fff,
  btn-secondary-bg: #21262d,
  btn-secondary-border: #f0f6fc1a,
  btn-secondary-text: #c9d1d9,
  btn-error-bg: #21262d,
  btn-error-border: #f0f6fc1a,
  btn-error-text: #c9d1d9,
);
