$dark: (
  bg: #1f1f1f,
  text: #d3d3d3,
  text-secondary: #a5a5a5,
  text-href: #2c80e0,
  card-border: #6e6e6e,
  card-note-border: #6e6e6e,
  card-note-text: grey,
  input-border: #5a5a5a,
  input-outline: #acbed8,
  input-bg: rgba(255, 255, 255, 0),
  input-focus-bg: rgba(43, 48, 150, 0.068),
  input-focus-outline: #5b6574,
  btn-bg: #3a3a3a,
  btn-border: #6e6e6e,
  btn-text: #333,
  btn-primary-bg: #205ea5,
  btn-primary-border: #2e6da4,
  btn-primary-text: #fff,
  btn-secondary-bg: #272727,
  btn-secondary-border: #6e6e6e,
  btn-secondary-text: #bdbdbd,
  btn-error-bg: #3a3a3a,
  btn-error-border: #6e6e6e,
  btn-error-text: #bdbdbd,
);
