.credentials-wrapper {
  width: 100vw;
  height: 100vh;
}

.settings-banner {
  width: 100%;
  margin-top: 5px;
  font-size: 0.9rem;
}

.login-submit {
  width: 100%;
  margin-top: 20px;
  align-items: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  min-width: 300px;
  padding: 5px 15px;
  margin: 5px 0px;
  border: 1px solid rgb(224, 224, 224); // TODO: change to theme color
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 0.8em;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  background-color: rgba(110, 112, 146, 0.068);
  outline: 2px solid rgb(172, 190, 216);
  transition: linear 0.2s;
}

.org-logo-sm {
  height: 12vmin;
  pointer-events: none;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  border-radius: 50%;
}
