@import "../themes/dark";
@import "../themes/light";

@mixin themable($theme-name, $theme-map) {
  .#{$theme-name} {
    .credentials-wrapper {
      width: 100vw;
      height: 100vh;
      color: map-get($theme-map, text);
      background-color: map-get($theme-map, bg);
    }

    .settings-banner {
      width: 100%;
      margin-top: 5px;
      font-size: 0.9rem;
    }

    .login-submit {
      width: 100%;
      margin-top: 20px;
      align-items: center;
    }

    .password-retrieval {
      color: map-get($theme-map, text-href);
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
      box-sizing: border-box;
      height: 50px;
      width: 100%;
      min-width: 300px;
      padding: 5px 15px;
      margin: 5px 0px;
      border: 1px solid map-get($theme-map, input-border);
      border-radius: 5px;
      color: map-get($theme-map, text);
      background-color: map-get($theme-map, input-bg);
      font-size: 0.8em;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus {
      background-color: map-get($theme-map, input-focus-bg);
      outline: 2px solid map-get($theme-map, input-focus-outline);
      transition: linear 0.2s;
    }

    .profile-pic-login {
      height: 12vmin;
      pointer-events: none;
      margin-bottom: 10px;
      border: 1px solid map-get($theme-map, card-border);
      border-radius: 50%;
    }
  }
}

@include themable(light, $light);
@include themable(dark, $dark);
