@import "../themes/dark";
@import "../themes/light";

@mixin themable($theme-name, $theme-map) {
  .#{$theme-name} {
    .dashboard-wrapper {
      background-color: map-get($theme-map, bg);
      color: map-get($theme-map, text);
      width: 100vw;
      height: 100vh;
    }

    .dashboard-header {
      box-sizing: border-box;
      width: 100%;
      height: fit-content;
      padding: 10px;
      border-bottom: 1px solid map-get($theme-map, card-border);
      background-color: map-get($theme-map, card-bg);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .dashboard-header-section {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .dashboard-body {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      padding: 30px;
    }

    .dashboard-body-header {
      box-sizing: border-box;
      height: fit-content;
      padding: 20px;
      padding-top: 0;
      margin-left: 10px;
      margin-bottom: 30px;
      border-bottom: 1px solid map-get($theme-map, card-border);
      display: flex;
      flex-direction: column;
    }

    .dashboard-card {
      box-sizing: border-box;
      width: fit-content;
      height: fit-content;
      border-radius: 5px;
      padding: 20px;
      margin: 10px;
      border: 1px solid map-get($theme-map, card-border);
      background-color: map-get($theme-map, card-bg);
    }

    .profile-pic-sm {
      height: 40px;
      pointer-events: none;
      border-radius: 50%;
    }
  }
}

@include themable(light, $light);
@include themable(dark, $dark);
