.login-wrapper {
  width: 100vw;
  height: 100vh;
}

.settings-banner {
  width: 100%;
  margin-top: 5px;
  font-size: 0.9rem;
}

.login-submit {
  width: 100%;
  margin-top: 30px;
  align-items: center;
}
