.card {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 40px;
  width: fit-content;
  height: fit-content;
}

.card-header {
  margin-bottom: 40px;
}

.card-body {
  font-size: 1.2rem;
}
