@import "../themes/dark";
@import "../themes/light";

@mixin themable($theme-name, $theme-map) {
  .#{$theme-name} {
    .main-interface-wrapper {
      background-color: map-get($theme-map, bg);
      -webkit-transition: background-color 0.3s ease-in-out;
      -moz-transition: background-color 0.3s ease-in-out;
      -ms-transition: background-color 0.3s ease-in-out;
      -o-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
      color: map-get($theme-map, text);
      box-sizing: border-box;
      width: 100vw;
      height: 100vh;
    }

    header[role="banner"] {
      a {
        color: inherit;
      }
      box-sizing: border-box;
      width: 100%;
      height: fit-content;
      padding: 10px;
      border-bottom: 1px solid map-get($theme-map, zone-separator);
      background-color: map-get($theme-map, card-bg);
      color: map-get($theme-map, text);
      text-decoration: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .main-interface-header-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 10px;
    }
  }
}

@include themable(light, $light);
@include themable(dark, $dark);
