@import "../themes/dark";
@import "../themes/light";

@mixin themable($theme-name, $theme-map) {
  .#{$theme-name} {
    .tab-view {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: var(--Layout-gutter);
      column-gap: 40px;
      row-gap: 40px;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }

    .tab-category {
      width: 250px;
      height: fit-content;
      display: flex;
      flex-direction: column;
      list-style: none;
      margin-left: 0;
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }

    .tab-category-name {
      font-size: 0.8rem;
      color: map-get($theme-map, text-secondary);
      margin: 0;
      padding: 8px 11px;
    }

    .tab-content {
      margin-left: 0;
      box-sizing: border-box;
      height: 100%;
    }

    .tab {
      &.enabled {
        &::after {
          position: absolute;
          top: calc(50% - 12px);
          left: -8px;
          width: 4px;
          height: 24px;
          content: "";
          background: map-get($theme-map, input-focus-outline);
          border-radius: 6px;
        }
        background-color: map-get($theme-map, li-active);
      }
      &:hover.disabled {
        background-color: map-get($theme-map, li-hovered);
      }
      font-size: 14px;
      font-weight: 400;
      color: map-get($theme-map, btn-text);
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 6px;
      margin: 0;
      color: map-get($theme-map, btn-secondary-text);
      position: relative;
      padding: 7px 11px;
      text-align: start;
      align-items: center;
      display: flex;
      column-gap: 10px;
      cursor: pointer;
    }
  }
}

@include themable(light, $light);
@include themable(dark, $dark);
