.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-aligned {
  display: flex;
  text-align: left;
  justify-content: left;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}
