@import "./sass/pages/default";
@import "./sass/pages/credentials";
@import "./sass/pages/dashboard";

@import "./sass/components/cards";
@import "./sass/components/buttons";
@import "./sass/components/theme-switcher";
@import "./sass/components/spinner";
@import "./sass/components/profile-card";
@import "./sass/components/text";
@import "./sass/components/tab-view";
@import "./sass/components/main-interface";
@import "./sass/layout/basic";

@import "./sass/themes/dark";
@import "./sass/themes/light";

:root {
  --Layout-sidebar-width: 250px;
  --Layout-gutter: 40px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 20;
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

textarea:focus,
input:focus {
  outline: none;
}

@mixin themable($theme-name, $theme-map) {
  .#{$theme-name} {
    body {
      background-color: map-get($theme-map, bg);
      color: map-get($theme-map, text);
    }

    h1 {
      font-size: 2.2rem;
      font-weight: inherit;
      margin: 0;
    }

    h2 {
      font-size: 1.8rem;
      font-weight: inherit;
      margin: 0;
    }

    h3 {
      font-size: 1.3rem;
      font-weight: inherit;
      margin: 0;
    }

    h4 {
      font-size: 1.1rem;
      font-weight: inherit;
      margin: 0;
    }

    h5 {
      font-size: 0.9rem;
      font-weight: inherit;
      margin: 0;
    }

    .text-secondary {
      color: map-get($theme-map, text-secondary);
    }
  }
}

@include themable(light, $light);
@include themable(dark, $dark);
